@page "{vacTypeID}"
@model C19VS.Pages.Vaccine.DeleteModel
@{
}

<h1>Deleting: @Model.Vaccine.vacTypeID @Model.Vaccine.vacName</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="Vaccine.vacTypeID" />

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete @Model.Vaccine.vacTypeID @Model.Vaccine.vacName</button>
            <a asp-page="/Vaccine/VaccineIndex" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>