@page "{SSN}/{DoseNumber}"
@model C19VS.Pages.Dose.DeleteModel
@{
}

<h1>Deleting: @Model.Dose.SSN dose number @Model.Dose.doseNumber</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="Dose.SSN" />
    <input hidden asp-for="Dose.doseNumber" />


    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete @Model.Dose.SSN @Model.Dose.doseNumber</button>
            <a asp-page="/Dose/DoseIndex" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>