@page "{medicare}"
@model C19VS.Pages.Person.DeleteModel
@{
}

<h1>Deleting: @Model.Person.firstName @Model.Person.lastName</h1>

<form method="post" class="mt-3">
    <input hidden asp-for="Person.medicare" />
    <input hidden asp-for="Person.firstName" />
    <input hidden asp-for="Person.lastName" />

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete @Model.Person.firstName @Model.Person.lastName</button>
            <a asp-page="/Person/PersonIndex" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>