@page
@model C19VS.Pages.VaccinationFacility.VaccinationFacilityDeleteModel
@{
}


<h1>Deleting: @Model.VaccinationFacility.facilityID Facility Name @Model.VaccinationFacility.facilityName</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Delete @Model.VaccinationFacility.facilityID @Model.VaccinationFacility.facilityName</button>
            <a asp-page="/VaccinationFacility/VaccinationFacilityIndex" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>