@page
@model IndexModel
@{
    ViewData["Title"] = Model.TABLE_NAME;
}

<div>
    <h1>Table: @Model.TABLE_NAME</h1>
    <hr />
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                @foreach (var column in Model.tableList[0])
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.tableList.Skip(1))
            {
                <tr>
                    @foreach (var column in row)
                    {
                        <td>@column</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>